[flake8]
max-line-length = 119
max-complexity = 10
exclude =
    .git,
    __pycache__,
extend-ignore =
    # Missing docstring in public module
    D100,
    # No blank lines allowed after function docstring
    D202,
